@charset 'utf-8';

/**
 * Ethna generated default style
 *
 * @package   Ethna
 */

body {
  margin: 0;
  padding: 0 40px;
  font-size: 16px;
  background: url("../images/pagebg.gif");
  font-family: Arial,Verdana,Helvetica,'MS UI Gothic',sans-serif;
}

div#header {
  margin-top: 40px;
  margin-bottom: 1em;
  padding: 0px 20px;
  height: 40px;
  background: url("../images/navbg.gif") repeat-x;
}

div#header h1 {
  background: url("../images/navlogo.gif") right no-repeat;
}

div#footer {
  margin-bottom: 1em;
  padding: 5px 20px;
  background-color: #cee6e6;
  text-align: right;
}

div#footer a {
  color: #f35a21;
}

div#main {
  margin-bottom: 1em;
  padding: 10px 20px;
  border: 1px solid #cee6e6;
  background-color: #ffffff;
}

div#main h2 {
  color: #00cccc;
  border-bottom: 1px solid #cee6e6;
  margin: 1.2em 0;
}

div#main a:link {
  color: #f35a21;
}

div#main a:visited {
  color: #f29578;
}

span.ethna-error {
  color: #ff0000;
}
